<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Best Restaurant Picker!</title>
    <link rel="stylesheet" href={{ url_for("static", filename="style_restaurant.css") }}>
    <meta name="viewport" content="initial-scale=1.0">
    <script type="text/javascript" src={{ url_for("static", filename="scripts/jquery-3.4.1.js") }}></script> <!-- JQuery' -->
    <script type="text/javascript" src={{ url_for("static", filename="scripts/search.js") }}></script> <!-- loading script and preform a search -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet"> <!-- Google Fonts -->
</head>
<body>
<div class="loader">
    <img src={{ url_for("static", filename="images/loading.gif") }} alt="loading...">
</div>
<div class="header">
    <h1>Restaurant Picking, Simplified</h1>
</div>
<div class="wrapper">
    {% block search_bar %}
    {% endblock %}
    {% block surprise_me %}
    {% endblock %}
    {% block map %}
    {% endblock %}
    {% block search_results %}
    {% endblock %}
    {% block view_photos %}
    {% endblock %}
</div>
</body>
</html>